logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/certs
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# don't check in keys or certs
*.crt
*.jks
*.csr
*.p12
*.keystore
